/* identifier { */
     /* property: value;  */
/* } */
section {
    background-image: url("../assets/hero.jpg");
    height: 100vh;
    /* background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
